:root {
  --main-font-family: "Public Sans", "Arial", sans-serif;
  --main-text-color: #36536b;
  --main-bg-color: #edf3f8;
  --main-font-size: 15px;
  --main-font-weight: 400;
  --main-line-height: 28px;
  --main-link-color: #ba4270;
}

@font-face {
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/public-sans-v14-latin-regular.woff2") format("woff2"), url("../fonts/public-sans-v14-latin-regular.woff") format("woff");
}
@font-face {
  font-family: "DM Serif Display";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/dm-serif-display-v10-latin-regular.woff2") format("woff2"), url("../fonts/dm-serif-display-v10-latin-regular.woff") format("woff");
}
@font-face {
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/public-sans-v14-latin-700.woff2") format("woff2"), url("../fonts/public-sans-v14-latin-700.woff") format("woff");
}
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
========================================================================== */
/**
* Remove the margin in all browsers.
*/
body {
  margin: 0;
}

/**
* Render the `main` element consistently in IE.
*/
main {
  display: block;
}

/**
* Correct the font size and margin on `h1` elements within `section` and
* `article` contexts in Chrome, Firefox, and Safari.
*/
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
========================================================================== */
/**
* 1. Add the correct box sizing in Firefox.
* 2. Show the overflow in Edge and IE.
*/
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
* 1. Correct the inheritance and scaling of font size in all browsers.
* 2. Correct the odd `em` font sizing in all browsers.
*/
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
========================================================================== */
/**
* Remove the gray background on active links in IE 10.
*/
a {
  background-color: transparent;
}

/**
* 1. Remove the bottom border in Chrome 57-
* 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
*/
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

/**
* Add the correct font weight in Chrome, Edge, and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
* 1. Correct the inheritance and scaling of font size in all browsers.
* 2. Correct the odd `em` font sizing in all browsers.
*/
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
* Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
* Prevent `sub` and `sup` elements from affecting the line height in
* all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
========================================================================== */
/**
* Remove the border on images inside links in IE 10.
*/
img {
  border-style: none;
}

/* Forms
========================================================================== */
/**
* 1. Change the font styles in all browsers.
* 2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
* Show the overflow in IE.
* 1. Show the overflow in Edge.
*/
button,
input { /* 1 */
  overflow: visible;
}

/**
* Remove the inheritance of text transform in Edge, Firefox, and IE.
* 1. Remove the inheritance of text transform in Firefox.
*/
button,
select { /* 1 */
  text-transform: none;
}

/**
* Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
* Remove the inner border and padding in Firefox.
*/
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
* Restore the focus styles unset by the previous rule.
*/
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
* Correct the padding in Firefox.
*/
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
* 1. Correct the text wrapping in Edge and IE.
* 2. Correct the color inheritance from `fieldset` elements in IE.
* 3. Remove the padding so developers are not caught out when they zero out
*    `fieldset` elements in all browsers.
*/
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
* Add the correct vertical alignment in Chrome, Firefox, and Opera.
*/
progress {
  vertical-align: baseline;
}

/**
* Remove the default vertical scrollbar in IE 10+.
*/
textarea {
  overflow: auto;
}

/**
* 1. Add the correct box sizing in IE 10.
* 2. Remove the padding in IE 10.
*/
[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
* Correct the cursor style of increment and decrement buttons in Chrome.
*/
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
* 1. Correct the odd appearance in Chrome and Safari.
* 2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
* Remove the inner padding in Chrome and Safari on macOS.
*/
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
* 1. Correct the inability to style clickable types in iOS and Safari.
* 2. Change font properties to `inherit` in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
========================================================================== */
/*
* Add the correct display in Edge, IE 10+, and Firefox.
*/
details {
  display: block;
}

/*
* Add the correct display in all browsers.
*/
summary {
  display: list-item;
}

/* Misc
========================================================================== */
/**
* Add the correct display in IE 10+.
*/
template {
  display: none;
}

/**
* Add the correct display in IE 10.
*/
[hidden] {
  display: none;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  height: 100%;
}

img {
  display: block;
  height: auto;
}

body {
  font-family: var(--main-font-family);
  font-weight: var(--main-font-weight);
  background-color: var(--main-bg-color);
}

.site-main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.container {
  max-width: 1150px;
  margin: 0 auto;
  padding: 0 20px;
}

/*sute header*/
.site {
  background-image: url(../images/hero-bg-t.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% calc(50% - 350px);
}

.site-header {
  height: 100%;
}

.site-header__inner {
  padding-top: 51px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.site-header__wrapper {
  display: none;
  width: 300px;
  height: 100vh;
  top: 0;
  right: 0;
  position: fixed;
  background: #1B262F;
  -webkit-box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
          box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
}

.site-header__open {
  display: block;
}

.site-header__close-btn {
  top: 48px;
  right: 27px;
  position: absolute;
  background-image: url("../images/icons/close.svg");
  background-repeat: no-repeat;
  border: none;
  background-color: transparent;
  width: 22px;
  height: 23px;
}

.site-header__line {
  position: absolute;
  top: 105px;
  left: 20px;
  display: inline-block;
  width: 249px;
  height: 2px;
  background: #FBFCFE;
  opacity: 0.15;
}

.site-header__nav {
  padding-top: 120px;
  text-align: center;
}

.site-header__list {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.site-header__item {
  padding-top: 32px;
}

.site-header__item:last-child .site-header__link {
  display: inline-block;
  padding: 16px 36px;
  background: #BA4270;
  -webkit-box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
          box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
  border-radius: 24px;
  color: #FBFCFE;
  opacity: 0.9;
}

.site-header__link {
  text-decoration: none;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #FBFCFE;
  opacity: 0.7;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.site-header__link:hover {
  color: #36536B;
  opacity: 1;
}

.site-header__new-link {
  display: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.site-header__new-link:hover {
  background: #DA6D97;
}

.site-header__open-btn {
  margin-left: auto;
  background-image: url("../images/icons/btn.svg");
  border: none;
  background-color: transparent;
  width: 28px;
  height: 17px;
}

@media only screen and (min-width: 724px) {
  .site-header__inner {
    margin-top: 51px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .site-header__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    width: auto;
    height: auto;
    top: 0;
    right: 0;
    position: static;
    background: transparent;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .site-header__nav {
    padding-left: 64px;
    padding-top: 0;
    text-align: center;
  }
  .site-header__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    padding-left: 0;
    list-style: none;
  }
  .site-header__item {
    padding-top: 0;
  }
  .site-header__item:nth-child(2) {
    padding-right: 40px;
    padding-left: 40px;
  }
  .site-header__item:last-child {
    display: none;
  }
  .site-header__close-btn {
    display: none;
  }
  .site-header__link {
    text-decoration: none;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #36536B;
    opacity: 0.7;
  }
  .site-header__new-link {
    margin-left: auto;
    text-decoration: none;
    width: 173px;
    display: block;
    padding: 16px 20px 16px 24px;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    background: #BA4270;
    -webkit-box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
            box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
    border-radius: 24px;
    color: #FBFCFE;
    opacity: 0.9;
  }
  .site-header__open-btn {
    display: none;
  }
}
/*hero*/
.hero__text-box {
  padding-bottom: 99px;
  margin-right: auto;
  margin-left: auto;
  max-width: 380px;
  padding-top: 290px;
  text-align: center;
}

.hero__title {
  font-family: "DM Serif Display";
  font-weight: 400;
  font-size: 32px;
  line-height: 36px;
  letter-spacing: -0.246154px;
  color: #36536B;
}

.hero__in {
  padding-left: 25px;
  width: 300px;
  height: 48px;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  color: #36536B;
  background: #FBFCFE;
  -webkit-box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
          box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
  border-radius: 24px;
  border: none;
}

.hero__btn {
  margin-top: 16px;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: -0.115385px;
  color: #FBFCFE;
  background: #BA4270;
  border-radius: 24px;
  border: none;
  width: 300px;
  height: 48px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.hero__btn:hover {
  background: #DA6D97;
}

.hero__text {
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #6C8294;
}

@media only screen and (min-width: 724px) {
  .hero__text-box {
    padding-top: 390px;
    text-align: center;
    max-width: 570px;
  }
  .hero__title {
    font-size: 48px;
    line-height: 56px;
  }
  .hero__email {
    margin-left: 70px;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .hero__btn {
    position: absolute;
    left: 260px;
    width: 173px;
    margin-top: 0;
  }
}
@media only screen and (min-width: 1000px) {
  .site {
    background-image: url(../images/hero-bg.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: calc(50% + 400px) calc(50% - 80px);
  }
  .hero__text-box {
    padding-top: 100px;
    margin-left: 0;
    text-align: left;
    max-width: 570px;
  }
  .hero__title {
    font-size: 72px;
    line-height: 72px;
  }
  .hero__email {
    margin-left: 0;
    text-align: left;
  }
}
/*work*/
.work {
  background: #1B262F;
}

.work__inner {
  text-align: center;
}

.work__list {
  margin: 0 auto;
  list-style: none;
  max-width: 400px;
  padding-top: 40px;
  padding-right: 30px;
  padding-bottom: 60px;
  padding-left: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.work__item {
  padding-top: 44px;
}

.work__text-box {
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
  max-width: 327px;
}

.work__title {
  font-weight: 400;
  font-size: 32px;
  line-height: 36px;
  letter-spacing: -0.246154px;
  color: #FBFCFE;
}

.work__text {
  padding-bottom: 60px;
  font-weight: 400;
  font-size: 15px;
  line-height: 28px;
  color: #FBFCFE;
  opacity: 0.7;
}

.work__link-bt {
  display: inline-block;
  margin-bottom: 88px;
  padding: 15px 32px;
  text-decoration: none;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: -0.115385px;
  color: #FBFCFE;
  border: 1px solid #FBFCFE;
  border-radius: 24px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.work__link-bt:hover {
  color: #1B262F;
  background-color: #FBFCFE;
}

@media only screen and (max-width: 396px) {
  .work__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media only screen and (min-width: 724px) {
  .work__list {
    margin: 0 auto;
    list-style: none;
    max-width: 600px;
    padding-top: 40px;
    padding-right: 30px;
    padding-bottom: 60px;
    padding-left: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .work__text-box {
    max-width: 480px;
  }
  .work__title {
    font-size: 48px;
    line-height: 56px;
  }
}
@media only screen and (min-width: 1000px) {
  .work__inner {
    text-align: left;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .work__list {
    margin: 0 auto;
    list-style: none;
    max-width: 600px;
    padding-top: 40px;
    padding-right: 30px;
    padding-bottom: 60px;
    padding-left: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .work__text-box {
    padding-top: 100px;
  }
}
/*easy*/
.easy {
  margin-top: 60px;
}

.easy__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.easy__img {
  padding-left: 30px;
  margin: 0 auto;
  max-width: 328px;
}

.easy__text-box {
  text-align: center;
  max-width: 573px;
}

.easy__title {
  font-family: "DM Serif Display";
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  letter-spacing: -0.276923px;
  color: #36536B;
}

.easy__text {
  font-weight: 400;
  font-size: 15px;
  line-height: 28px;
  color: #6C8294;
}

@media only screen and (min-width: 724px) {
  .easy__title {
    font-size: 48px;
    line-height: 56px;
  }
  .easy__img {
    max-width: 490px;
  }
}
@media only screen and (min-width: 1000px) {
  .easy__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .easy__wrap:last-child {
    background-image: url("../images/icons/simple-circle.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: calc(50% + 500px);
    margin-left: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .easy__wrap:last-child .easy__img {
    padding-left: 150px;
  }
  .easy__img {
    margin-left: 0;
    padding-left: 0;
    margin-top: 50px;
    max-width: 800px;
  }
  .easy__text-box {
    max-width: 400px;
    text-align: left;
  }
}
/*pay*/
.pay__list {
  padding-top: 60px;
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.pay__item {
  margin: 0 auto;
  max-width: 328px;
  text-align: center;
}
.pay__item:first-child::before {
  margin-top: 50px;
  content: "";
  display: block;
  padding-top: 160px;
  background-image: url("../images/icons/personal-finance.svg");
  background-repeat: no-repeat;
  background-size: 106px;
  background-position: 50% calc(50% - 25px);
}
.pay__item:nth-child(2)::before {
  margin-top: 50px;
  content: "";
  display: block;
  padding-top: 160px;
  background-image: url("../images/icons/banking-coverage.svg");
  background-repeat: no-repeat;
  background-size: 106px;
  background-position: 50% calc(50% - 25px);
}
.pay__item:last-child::before {
  margin-top: 50px;
  content: "";
  display: block;
  padding-top: 160px;
  background-image: url("../images/icons/consumer-payments.svg");
  background-repeat: no-repeat;
  background-size: 106px;
  background-position: 50% calc(50% - 25px);
}

.pay__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: -0.138462px;
  color: #36536B;
}

.pay__text {
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  letter-spacing: -0.115385px;
  color: #6C8294;
}

@media only screen and (min-width: 724px) {
  .pay__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .pay__item:nth-child(2) {
    margin-right: 10px;
    margin-left: 10px;
  }
}
/*ready*/
.ready {
  margin-top: 80px;
}

.ready__inner {
  padding-bottom: 80px;
  margin: 0 auto;
  max-width: 330px;
  text-align: center;
}

.ready__title {
  font-family: "DM Serif Display";
  font-weight: 400;
  font-size: 32px;
  line-height: 36px;
  letter-spacing: -0.246154px;
  color: #36536B;
}

.ready__in {
  padding-left: 25px;
  width: 300px;
  height: 48px;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  color: #36536B;
  background: #FBFCFE;
  -webkit-box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
          box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
  border-radius: 24px;
  border: none;
}

.ready__btn {
  margin-top: 16px;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: -0.115385px;
  color: #FBFCFE;
  background: #BA4270;
  border-radius: 24px;
  border: none;
  width: 300px;
  height: 48px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.ready__btn:hover {
  background: #DA6D97;
}

@media only screen and (min-width: 724px) {
  .ready {
    margin-top: 80px;
  }
  .ready__inner {
    margin: 0 auto;
    max-width: 440px;
    text-align: center;
  }
  .ready__title {
    font-family: "DM Serif Display";
    font-weight: 400;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -0.246154px;
    color: #36536B;
  }
  .ready__email {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .ready__btn {
    position: absolute;
    top: -17px;
    left: 250px;
    margin-top: 16px;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: -0.115385px;
    color: #FBFCFE;
    background: #BA4270;
    border-radius: 24px;
    border: none;
    width: 173px;
    height: 48px;
  }
}
@media only screen and (min-width: 1000px) {
  .ready__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin: 0 auto;
    max-width: 100%;
    text-align: center;
  }
}
/*footer*/
.site-footer {
  background: #1B262F;
}

.site-footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 45px;
  padding-bottom: 55px;
  text-align: center;
}

.site-footer__logo {
  display: inline-block;
}

.site-footer__list {
  padding-top: 10px;
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.site-footer__item {
  padding-top: 31px;
}

.site-footer__link {
  text-decoration: none;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  color: #FBFCFE;
  opacity: 0.7;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.site-footer__link:hover {
  color: #FBFCFE;
  opacity: 1;
}

.site-footer__social {
  padding-top: 40px;
  padding-left: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.site-footer__social-item:nth-child(2) {
  padding-right: 24px;
  padding-left: 24px;
}

.site-footer__icon {
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.site-footer__icon:hover {
  fill: #DA6D97;
}

@media only screen and (min-width: 724px) {
  .site-footer__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 45px;
    padding-bottom: 55px;
    text-align: center;
  }
  .site-footer__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 0;
    padding-left: 64px;
    list-style: none;
  }
  .site-footer__item {
    padding-top: 0;
    padding-left: 40px;
  }
  .site-footer__social {
    margin-left: auto;
    padding-top: 0;
  }
}/*# sourceMappingURL=main.css.map */